.App {
  text-align: center;
  --mainColor: #f9f9f9;
  --accentColor: #282c34;
  overflow-x: hidden;
  background-color: var(--mainColor)
}

#AppHeader {
  background-color: var(--accentColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 5vh;
  color: var(--mainColor);
  
}

.bgAccent{
  background-color: var(--accentColor);
  color: white;
}
