#AppHeader {
    background-color: var(--accentColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
    color: white;
    min-height: 5vh;
    color: var(--mainColor);
    z-index: 2;
    
}

#AppHeader .pageList{
    list-style-type: none;
    position: relative;
}

#AppHeader .pageList > li {
    display: inline;
    padding-left: 10px
}
#AppHeader .siteTitle{
    text-align: left;
}
#AppHeader .siteTitle > h1{
    margin-top: 0;
    margin-bottom: 0;
}
#AppHeader .siteTitle> h2{
    margin-top:0;
    margin-bottom: 0;
}