.pageHeaderWrapper{
    position: relative;
    --page-header-box-size: 50vmin;
    width: var(--page-header-box-size)
}
.pageHeader{
    position: absolute;
    bottom: 0;
    width: var(--page-header-box-size);
    height: var(--page-header-box-size);
    background-color: var(--mainColor);
    border: thin transparent solid;
    border-radius: 5px;
    box-shadow: black 0 0 20px;
}