.skewedDiv{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: bottom left;
    padding: 10px;
    z-index: 2;
}

.skewedDiv::before{
    content: '';
    width: 100%;
    height: 75px;
    position: absolute;
    background-color: inherit;
    z-index: -1;
    left: 0;
    bottom: 100%;
    transform: skewY(0);
    transition: transform 1s 2s
}

.skewedDiv::after{
    content: '';
    width: 100%;
    height: 75px;
    position: absolute;
    background-color: inherit;
    z-index: -1;
    bottom: 0;
    left: 0;
}

@keyframes skewLeft {
    from{
        transform: skewY(0deg)
    }
    to{
        transform: skewY(3deg)
    }
}

@keyframes skewRight {
    from{
        transform: skewY(0deg)
    }
    to{
        transform: skewY(-3deg)
    }
}

.skewedDiv.ltrSkew::before{
    transform-origin: left bottom;
    animation: skewLeft 1s normal ease-in-out forwards;
}

.skewedDiv.ltrSkew::after{
    transform-origin: left bottom;
    animation: skewLeft 1s normal ease-in-out forwards;
}

.skewedDiv.rtlSkew::before{
    transform-origin: right bottom;
    animation: skewRight 1s normal ease-in-out forwards;
}

.skewedDiv.rtlSkew::after{
    transform-origin: right bottom;
    animation: skewRight 1s normal ease-in-out forwards;
}
.skewedDiv.noTop::before{
    content: none;
}
.skewedDiv.noBottom::after{
    content: none;
}